.Navbar {
  width: 100vw;
  display: flex;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.Navbar .logo-container {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.Navbar .logo-container .logo {
  width: 4rem;
}

.Navbar .logo-container .logo-title {
  color: #623c24;
  font-family: 'Baloo Paaji 2', cursive;
  margin: -.5rem;
}

.Navbar .login-container {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.Navbar .login-container .login-button {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: .5rem;
  font-weight: 700;
  border-radius: 5px;
  height: fit-content;
  margin: 0 1rem;

}

.Navbar .login-container .login-button:hover {
  background-color: white;
  color: #78f3cf;
}

.Navbar .login-container p {
  color: white;
  font-weight: 700;
}